<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Flexslider" />
<f:section name="Flexslider">
	<f:for each="{news}" as="newsItem">
            <f:comment><!-- Media File preview exists? --></f:comment>
            <f:if condition="{newsItem.falMediaPreviews}">
		<n:excludeDisplayedNews newsItem="{newsItem}" />
		<f:if condition="{settings.flexslider.style} == 2">
			<f:then>
				<f:comment><!-- Style 2 --></f:comment>
				<li data-thumb="{f:render(section:'ThumbnailSrc', arguments:'{newsItem:newsItem, settings:settings}')}">
			</f:then>
			<f:else>
				<li>
			</f:else>
		</f:if>
		<f:render section="Default" arguments="{newsItem:newsItem, settings:settings}" />
		<f:if condition="{settings.flexslider.caption}">
			<f:comment><!-- Caption --></f:comment>
			<f:if condition="{settings.flexslider.style} == 5">
				<f:else>
					<f:render partial="Flexslider/Caption" arguments="{newsItem:newsItem, settings:settings}" />
				</f:else>
			</f:if>
		</f:if>
		</li>
            </f:if>
	</f:for>
</f:section>

<f:comment><!-- Section Default --></f:comment>
<f:section name="Default">
	<f:if condition="{settings.flexslider.style} > 3">
		<f:then>
			<f:if condition="{settings.flexslider.style} == 4">
				<f:comment><!-- Style 4 (Carousel) --></f:comment>
				<f:render section="Carousel" arguments="{newsItem:newsItem, settings:settings}" />
			</f:if>
			<f:if condition="{settings.flexslider.style} == 5">
				<f:comment><!-- Style 5 (Carousel with min and max ranges) --></f:comment>
				<f:render section="CarouselMinMax" arguments="{newsItem:newsItem, settings:settings}" />
			</f:if>
		</f:then>
		<f:else>
			<f:render partial="Flexslider/Media" arguments="{newsItem:newsItem, settings:settings}" />
		</f:else>
	</f:if>
</f:section>

<f:comment><!-- Style 3 (Slider w/thumbnail slider) --></f:comment>
<f:section name="ThumbnailSlider">
<f:for each="{news}" as="newsItem">
	<n:excludeDisplayedNews newsItem="{newsItem}" />
	<li>
		<f:alias map="{thumbnailSlider: newsItem.falMediaPreviews.0}">
			<f:image src="{thumbnailSlider.uid}" treatIdAsReference="1"
				width="{f:cObject(typoscriptObjectPath:'lib.math',data:'({settings.flexslider.width}-8-({settings.flexslider.thumbnumber}*
				{settings.flexslider.itemMargin}-{settings.flexslider.itemMargin}))/{settings.flexslider.thumbnumber}')}c"
				height="{f:cObject(typoscriptObjectPath:'lib.math',data:'{settings.flexslider.height}/{settings.flexslider.thumbnumber}')}c" />
		</f:alias>
	</li>
</f:for>
</f:section>

<f:comment><!-- Style 4 (Basic Carousel) --></f:comment>
<f:section name="Carousel">
	<f:alias map="{carousel: newsItem.falMediaPreviews.0}">
		<f:comment><!-- IMAGE --></f:comment>
			<f:image src="{carousel.uid}" treatIdAsReference="1"
				width="{f:cObject(typoscriptObjectPath:'lib.math',data:'({settings.flexslider.width}-8-({settings.flexslider.thumbnumber}*
				{settings.flexslider.itemMargin}-{settings.flexslider.itemMargin}))/{settings.flexslider.thumbnumber}')}c"
				height="{settings.flexslider.thumbheight}c" />
	</f:alias>
</f:section>

<f:comment><!-- Style 5 (Carousel with min and max ranges) --></f:comment>
<f:section name="CarouselMinMax">
	<f:alias map="{carouselMinMax: newsItem.falMediaPreviews.0}">
		<f:comment><!-- IMAGE --></f:comment>
			<n:link newsItem="{newsItem}" settings="{settings}">
				<f:image src="{carouselMinMax.uid}" treatIdAsReference="1"
					width="{f:cObject(typoscriptObjectPath:'lib.math',data:'({settings.flexslider.width}-8-(({settings.flexslider.maxItems}-1)*
					{settings.flexslider.itemMargin}-{settings.flexslider.itemMargin}))/({settings.flexslider.maxItems}-1)')}c"
					height="{settings.flexslider.thumbheight}c" />
			</n:link>
	</f:alias>
</f:section>

<f:comment><!-- Style 2 (Thumbnail ControlNav Pattern) --></f:comment>
<f:section name="ThumbnailSrc">
	<f:alias map="{thumbnailScr: newsItem.falMediaPreviews.0}">
		<f:comment><!-- IMAGE --></f:comment>
			<f:uri.image src="{thumbnailScr.uid}" treatIdAsReference="1"
				width="{f:cObject(typoscriptObjectPath:'lib.math',data:'({settings.flexslider.width}-8)/4')}c"
				height="{f:cObject(typoscriptObjectPath:'lib.math',data:'{settings.flexslider.height}/4')}c" />
	</f:alias>
</f:section>
</html>