<f:link.page style="padding: 0px;" title="grün: anwesend, rot: abwesend" pageUid="{s:getPageId(extensionName: 'staffm', sectionName: 'settings', constantName: 'pageIdProfil')}" class="nav-link" additionalParams="{tx_staffm_staffmvorg: {userKey: 'auswahlUsr'}, tx_staffm_staffmvorg: {art: 'profileedit'}, tx_staffm_staffmvorg: {mitarbeiter: '{loggedIn}'}}">
  <f:if condition="{loggedIn.present}">
    <f:then>
      <svg style="color: #43F73A" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </f:then>
    <f:else>
      <svg style="color: #F40000" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </f:else>
  </f:if>
</f:link.page>