<f:comment><!-- Login form --></f:comment>
<form class="form-inline" action="/" enctype="multipart/form-data" method="post" class="loginform">        
    <div class="input-group">
        <span class="btn btn-outline-secondary nonehover" id="addon-wrapping"><i class="fas fa-user"></i></span>
        <input name="logintype" value="login" type="hidden" />
        <input name="pid" value="42" type="hidden" />
        <label for="user" class="sr-only">{f:translate(key:'pmbelayouts.username')}</label>
        <input name="user" size="8" placeholder="{f:translate(key:'pmbelayouts.username')}" value="" type="text" id="user" class="form-control form-control-sm mr-sm-2" required />
        <label for="pass" class="sr-only" >{f:translate(key:'pmbelayouts.password')}</label>
        <input name="pass" size="7" placeholder="{f:translate(key:'pmbelayouts.password')}" value="" data-rsa-encryption="" type="password" id="pass" class="form-control form-control-sm mr-sm-2" />
        <input name="submit" value="Login" type="submit" class="btn btn-outline-secondary" />
    </div>
</form>
