<f:comment><!-- Login form in Menue bar --></f:comment>
<form class="form-inline loginform" action="/login" method="post">
    <div class="input-group">
        <span class="btn btn-outline-secondary nonehover" id="addon-wrapping"><i class="fas fa-user"></i></span>
        <input name="logintype" value="login" type="hidden" />
        <input name="pid" value="42" type="hidden" />
        <label for="username" class="sr-only">{f:translate(key:'pmbelayouts.username')}</label>
        <input autocomplete="username" name="user" size="8" placeholder="{f:translate(key:'pmbelayouts.username')}" value="" type="text" id="username" class="form-control form-control-sm mr-sm-2" required />
        <label for="password" class="sr-only" >{f:translate(key:'pmbelayouts.password')}</label>
        <!--<input name="pass" size="7" placeholder="{f:translate(key:'pmbelayouts.password')}" value="" data-rsa-encryption type="password" id="password" class="form-control form-control-sm mr-sm-2" />-->
        <f:form.password autocomplete="current-password" data="{rsa-encryption: ''}" size="7" class="form-control form-control-sm mr-sm-2" id="password" name="pass" placeholder="{f:translate(key:'pmbelayouts.password')}" />
        <input name="submit" value="Login" type="submit" class="btn btn-outline-secondary" />
    </div>
    <div class="felogin-hidden">
        <input type="hidden" name="logintype" value="login">
        <input type="hidden" name="pid" value="{pid}@bbebb0c701e83065ade07926a372d94982c2aeb5">
        <input type="hidden" name="referer" value="{baseUrl}">
    </div>
</form>
