{namespace h = Pmwebdesign\Pmbelayouts\ViewHelpers}
{namespace s = Pmwebdesign\Staffm\ViewHelpers}

<f:variable name="user"><h:getUser></h:getUser></f:variable>
<form class="form-inline" action="/" enctype="multipart/form-data" method="post">
    <div class="input-group">
        <f:if condition="{settings.extFormsActive} == 1">
            <f:link.page title="{f:translate(extensionName: 'forms', key: 'tx_forms_forms')}" id="taskCounter" class="btn btn-outline-secondary btn" pageUid="{s:getPageId(extensionName: 'forms_formlist', sectionName: 'settings', constantName: 'pageIdForms')}">
                <i class="fas fa-list me-1"></i><f:render partial="../Ext/forms/Partials/FormsCount" arguments="{_all}" />
            </f:link.page>
        </f:if>
        <div {f:if(condition:'{user.image}',then: 'style=\'padding:0\'')} class="btn btn-outline-secondary nonehover" title="{user.firstName} {user.lastName}">
            <f:if condition="{user.image}">
                <f:then>
                    <f:image height="38px" src="{user.image.0.originalResource.publicUrl}" />
                </f:then>
                <f:else>
                    <i class="fas fa-user me-1"></i>
                </f:else>
            </f:if>
        </div>
        <input type="hidden" name="logintype" value="logout" >
        <input type="hidden" name="pid" value="{$pid_feuser}">
        <input type="hidden" name="tx_felogin_pi1[noredirect]" value="0">
        <div class="dropdown btn-group pmbelayouts-forms-dropdown">
            <input name="submit" value="Logout" type="submit" id="logout-btn" class="btn btn-outline-secondary btn"><span class="visually-hidden">Toggle Dropdown</span>
            <f:comment><!-- Dropdown Employee --></f:comment>
            <button type="button" id="btnGroupDrop2" class="btn btn-outline-secondary btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu dropdown {dropdownAnimate}" aria-labelledby="btnGroupDrop2">
                <f:comment><!-- Extension Staffm active? --></f:comment>
                <f:if condition="{settings.extStaffmActive} == 1">
                    <f:alias map="{loggedIn: '{s:finduser()}'}">
                        <f:render partial="../Ext/staffm/Partials/Profile" arguments="{_all}" />
                        <f:comment><!-- Extension Forms active? --></f:comment>
                        <f:if condition="{settings.extFormsActive} == 1">
                            <f:render partial="../Ext/forms/Partials/Forms" arguments="{_all}" />
                        </f:if>
                    </f:alias>
                </f:if>
                <li><hr class="dropdown-divider"></li>
                <li id="fullusername" class="dropdown-item">{user.firstName} {user.lastName}</li>
            </ul>
        </div>
    </div>
</form>