{namespace vh = BmParat\Adjustmentsheet\ViewHelpers}
{namespace st = Pmwebdesign\Staffm\ViewHelpers}


<f:variable name="isallowedUser">{vh:isAllowedUser(then: 'true', else: 'false' )}</f:variable>
<f:if condition="{isallowedUser} == 'true' || {itadmin}">
    <li><hr class="dropdown-divider"></li>
    <li class="justify-content-between align-items-start">
        <f:if condition="{user.kostenstelle.nummer} == 1901">
            <f:then>
                <f:link.page pageUid="{s:getPageId(extensionName: 'adjustmentsheet', sectionName: 'settings', constantName: 'pageIdLeanAdjustmentsheet')}" class="dropdown-item fw-bold">
                    <i class="fas fa-file-lines me-1"></i><f:translate extensionName="adjustmentsheet" key="tx_adjustmentsheet_domain_model_adjustmentsheet"/><f:render partial="../Ext/forms/Partials/FormsCount" arguments="{antrag: 'AdjustmentSheet', badge:'bg-danger'}" />
                </f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{s:getPageId(extensionName: 'adjustmentsheet', sectionName: 'settings', constantName: 'pageIdAdjustmentsheet')}" class="dropdown-item fw-bold">
                    <i class="fas fa-file-lines me-1"></i><f:translate extensionName="adjustmentsheet" key="tx_adjustmentsheet_domain_model_adjustmentsheet"/><f:render partial="../Ext/forms/Partials/FormsCount" arguments="{antrag: 'AdjustmentSheet', badge:'bg-danger'}" />
                </f:link.page>
            </f:else>
        </f:if>
    </li>
</f:if>

