{namespace vh=Pmwebdesign\Pmbelayouts\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news}">
		<f:then>
                    <f:if condition="{settings.templateLayout} == 1">
                        <f:then>
                            <div class="flexcontainer mobileslider" id="news-container-{contentObjectData.uid}">
                                <div id="carouselNews" class="carousel slide" data-ride="carousel">                                    
                                    <div class="carousel-inner">  
                                        <f:for each="{news}" as="newsItem" iteration="iterator">
                                                <!-- TODO: Mobile View 1-Column -->
                                                <script type="text/javascript">
                                                    var data = {
                                                        screensizew: window.innerWidth
                                                    }
                                                    var typeOfDevice;
                                                    if (data.screensizew < 760) {
                                                        typeOfDevice = "mobile";
                                                    } else {
                                                        typeOfDevice = "desktop";
                                                    }
                                                    //document.write(data.screensizew);
                                                    //document.write(typeOfDevice);
                                                </script>
                                            <f:if condition="{data.screensizew} < 767">
                                                <f:then>
                                                    <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 1">                                                                                                
                                                        <div class="carousel-item active">
                                                            <div class="row flexrow">                                                              
                                                    </f:if>
                                                    <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 2">                                                
                                                        <div class="carousel-item">
                                                            <div class="row flexrow">                                                        
                                                    </f:if>
                                                    <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 4">                                                
                                                        <div class="carousel-item">
                                                            <div class="row flexrow">                                                        
                                                    </f:if>
                                                    <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                                    <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'after')} == 3">                                                    
                                                            </div>
                                                        </div>
                                                    </f:if>  
                                                    <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'after')} == 5">                                                    
                                                            </div>
                                                        </div>
                                                    </f:if>  
                                                </f:then>
                                                <f:else>
                                                    
                                                </f:else>
                                            </f:if> 
                                        </f:for>
                                    </div>
                                    <f:comment><a style="background-image:url('../typo3conf/ext/pmbelayouts/Resources/Public/Images/slider-prev.png')" class="left carousel-control" href="#carousel-" data-slide="prev"></a></f:comment>
                                    <a class="carousel-control-prev" href="#carouselNews" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselNews" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <ol class="carousel-indicators">                                        
                                        <f:for each="{vh:newsSliderIndicator(newscount: '{news->f:count()}')}" as="spalte" iteration="iterator">                                            
                                            <li data-target="#carouselNews" data-slide-to="{spalte}" class="{f:if(condition: '{iterator.isFirst}', then: 'active')}"></li>                                                
                                        </f:for>                                        
                                    </ol>
                                </div>                                
                            </div>
                        </f:then>
                        <f:else>
                            <div class="news-list-view" id="news-container-{contentObjectData.uid}">
                                <f:if condition="{settings.hidePagination}">
					<f:then>
						<f:for each="{news}" as="newsItem" iteration="iterator">
							<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
						</f:for>
					</f:then>
					<f:else>
						<vh:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
							<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</vh:widget.paginate>
					</f:else>
				</f:if>
                            </div>
                        </f:else>
                    </f:if>
		</f:then>
		<f:else>
			<div class="alert ">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>