{namespace vh=Pmwebdesign\Pmbelayouts\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="General"/>
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <f:if condition="{settings.templateLayout} == 100">
                <f:then>
                    <f:security.ifHasRole role="Test">
                        <f:form.hidden id="screensizeForm" name="screensizeForm" value="desktop" />
                        <script>
                            let screensizeForm = document.getElementById('screensizeForm');
                            let screenArt = "";
                            var data = {
                                screensizew: window.innerWidth
                            }
                            if (data.screensizew < 760) {
                                screenArt = "mobile";
                            } else {
                                screenArt = "desktop";
                            }
                            screensizeForm.value = screenArt;
                            // TODO: Screensize to fluid doesn´t run - dvpm (2023-10-09)
                            // var sVariable = '<' + 'f:variable' + ' name="screen" value="' + screenArt + '" />';
                            // console.log(sVariable);
                            // document.write(sVariable);
                            //var sVariable = 'name="screen" value="' + screenArt + '"';
                        </script>
                    </f:security.ifHasRole>
                    <div class="flexcontainer mobileslider bg-dark" id="news-container-{contentObjectData.uid}">
                        <div id="carouselNews" class="carousel slide" data-bs-ride="false">
                            <div class="carousel-indicators">
                                <f:for each="{vh:newsSliderIndicator(newscount: '{news->f:count()}')}" as="spalte" iteration="iterator">
                                    <button type="button" data-bs-target="#carouselNews" data-bs-slide-to="{spalte}"
                                            class="{f:if(condition: '{iterator.isFirst}', then: 'active')}"></button>
                                </f:for>
                            </div>
                            <div class="carousel-inner">
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:if condition="{data.screensizew} < 767">
                                        <f:then>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 1">
                                                <div class="carousel-item active">
                                                    <div class="row flexrow">
                                            </f:if>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 2">
                                                <div class="carousel-item">
                                                    <div class="row flexrow">
                                            </f:if>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 4">
                                                <div class="carousel-item">
                                                    <div class="row flexrow">
                                            </f:if>
                                            <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator,view:'list'}" />
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'after')} == 3">
                                                    </div>
                                                </div>
                                            </f:if>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'after')} == 5">
                                                    </div>
                                                </div>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 1">
                                                <div class="carousel-item">
                                                    <div class="row flexrow">
                                            </f:if>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 2">
                                                <div class="carousel-item">
                                                    <div class="row flexrow">
                                            </f:if>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'before')} == 4">
                                                <div class="carousel-item">
                                                    <div class="row flexrow">
                                            </f:if>
                                            <f:render partial="List/Item"
                                                      arguments="{newsItem: newsItem,settings:settings,iterator:iterator,view:'list'}"/>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'after')} == 3">
                                                    </div>
                                                </div>
                                            </f:if>
                                            <f:if condition="{vh:newsSlider(newscount: '{news->f:count()}', newsindex: iterator.index, newsstatus: 'after')} == 5">
                                                    </div>
                                                </div>
                                            </f:if>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNews" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselNews" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <div className="news-list-view" id="news-container-{contentObjectData.uid}">
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Item"
                                              arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.list.paginate.insertAbove}">
                                    <f:render partial="List/Pagination"
                                              arguments="{pagination: pagination.pagination, paginator: pagination.paginator}"/>
                                </f:if>
                                <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Item"
                                              arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
                                </f:for>
                                <f:if condition="{settings.list.paginate.insertBelow}">
                                    <f:render partial="List/Pagination"
                                              arguments="{pagination: pagination.pagination, paginator: pagination.paginator}"/>
                                </f:if>
                            </f:else>
                        </f:if>
                    </div>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <div className="alert ">
                <f:translate key="list_nonewsfound"/>
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
