//$firstCorporateColour: #C9234A;
//$firstCorporateColour25: rgb(228,1,58);

//$firstCorporateColour: #dc3545;
//$firstCorporateColour25: rgba(220,53,69,.25);
//$secondCorporateColour: #c3c3c3;
//$greyCorporateColour: $secondCorporateColour;

$firstCorporateColour: #70EFD6;
$firstCorporateColour25: rgba(112,239,214,.25);

$secondCorporateColour: #0040D1;
$secondCorporateColour25: rgba(0,64,209,.25);

$greyCorporateColour: #E0E2E3;
$blackCorporateColour: #001D2D;